.cloudmeter {
  .label abbr {
    border-bottom: none;
    text-decoration: none;
  }

  .fadein                             {
    opacity:0;
    animation:fadein .25s ease-in forwards;
    animation-delay:.25s;
  }

  @keyframes fadein { 0%{opacity:0} 100%{opacity:1} }
}

.cloudmeter-pficon-error,
.pficon.pficon-disconnected.is-error::before {
  color: $color-pf-red-100;
  padding-left: 5px;
  padding-right: 5px;
}
